body {
    background-color: var(--off-white);
    margin: 0;
}

/* Header */
header {
    background-color: var(--orange);
}

/* Footer */
footer {
    background-color: var(--light-blue);
}

/* Tables */
table, th, td {
  border: 1px solid;
}

/* Spacing */
.main-content_wrap {
    width: 100vw;
}

.page-center {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}

.btn, .button {
    background-color: var(--blue);
    border: solid 3px var(--blue);
    border-radius: 10px;
    color: var(--white);
    font-weight: 600;
    padding: 10px 20px;
    transition: all ease-in-out 0.235s;
    text-decoration: none;
}

.btn:hover, .button:hover {
    background-color: transparent;
    color: var(--blue);
}