body {
    background-color: var(--off-white);
    margin: 0;
}

/* Header */
header {
    background-color: var(--orange);
}

/* Footer */
footer {
    background-color: var(--light-blue);
}

/* Tables */
table, th, td {
  border: 1px solid;
}

/* Spacing */
.main-content_wrap {
    width: 100vw;
}

.page-center {
    margin: auto;
    max-width: 1200px;
    width: 90%;
}
