{% extends 'base.html' %}

<!-- Title -->
{% block head %}
    <title>Reminder Roost</title>
{% endblock %}

<!-- Header -->

<!-- Main Content -->
{% block content %}
    <div class="table-container">
        <h1>To Do List</h1>

        <!-- Delete these tables later, just testing... -->
        <table>
            <tr>
                <th>Tasks</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                        <a href="/delete/{{task.id}}">Delete</a>
                        <br>
                        <a href="/update/{{task.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task" class="btn">
        </form>
    </div>
{% endblock %}

<!-- Footer -->
