<!DOCTYPE html>
<html lang="en">
    <head>
        {% import 'macros/buttons/button.html' as macros %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/typography.css') }}">
        <!-- Head -->
        {% block head %}{% endblock %}
    </head>

    <body>

        <!-- Header Template to go here -->
        <header>
            <nav class="main-nav page-center" aria-label="Main Navigation">
              <a href="#" class="logo" aria-label="Home">
                <img src="static/images/rr_placeholder-logo.png" alt="Placeholder logo" width="75" height="75">
              </a>
              <button class="hamburger" aria-label="Toggle menu" aria-expanded="false">
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
                <span class="hamburger-bar"></span>
              </button>
                <ul class="nav-links">
                    {% if user.is_authenticated %}
                      <li><a href="/" class="nav-link">Home</a></li>
                      <li><a href="#" class="nav-link">My Tasks</a></li>
                      <li><a href="#" class="nav-link">My Account</a></li>
                      <li><a href="/logout" class="btn">Logout</a></li>
                    {% else %}
                      <li><a href="/login" class="nav-link">Login</a></li>
                      <li><a href="/sign-up" class="btn">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>

        {% with messages = get_flashed_messages(with_categories=true) %}

            {% if messages %}

                {% for category, message in messages %}

                    {% if category == 'error' %}

                        <!-- Error Message -->
                        <div class="error-msg" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    {% else %}

                        <!-- Success Message -->
                        <div class="success-msg" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                    {% endif %}

                {% endfor %}

            {% endif %}

        {% endwith %}

        <main class="main-content_wrap page-center">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer Template to go here -->

        <!-- JS Scripts -->
        <script src="{{ url_for('static', filename='js/toggleMenu.js') }}"></script>
    </body>
</html>